<div class="container">	
	<div class="jumbotron"> 
		<h1>CODER'S COLLECTIVE </h1>
		<h4 style="text-align: left;">Add to the collection of images by copying and pasting the url to an image into the form below and clicking the button.</h4>
	</div>

	<div>
		<p class="lead"> What link are you providing today? </p>

		<form class="create-update-form" action="coders/create" method="POST">
			<input type="hidden" name="devoured" value="false" placeholder="place links that end with .png .jpeg .gif OR .svg in this box">
			<div class="form-group">
				<textarea class="form-control input-lg" type="text" name="b_name" rows="3" > </textarea>
			<button class="btnT btn-default btn-success btn-lg" type="submit;"><i class="fa fa-arrow-down" aria-hidden="true"></i></button></div>
		</form>
	</div>

<br>

<div class="row">
	<div class="col-md-3 col-md-offset-0">
		Waiting Room:
			<container id="col1">
			<div class="wrapper wrapper_gradient eaten">
				{{#each coders}}
				{{#unless this.devoured}}
				<div class="box boxL">
				<form action="coders/update/{{this.id}}?_method=PUT" method="POST" >
					<input type="hidden" name="devoured" value="true">
					<a href="{{this.coders_name}}" target="_blank">
						<img src="{{this.coders_name}}" class="boxL" alt="no img">
					</a>
					<button class="btn btnL btn-default btn-success btn-lg" type="submit;"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
				</form>  
				</div>

				{{/unless}}
				{{/each}}

			</div>
		</container>
	</div>
	<div class="col-md-9 col-md-offset-0">
		Approved images:
<container id="col1">
			<div class="wrapper wrapper_gradient eaten">
				{{#each coders}}
				{{#if this.devoured}}
				<div class="box boxR">
				<form action="coders/update/{{this.id}}?_method=PUT" method="POST" >
					<input type="hidden" name="devoured" value="false">
					<a href="{{this.coders_name}}" target="_blank">
						<img src="{{this.coders_name}}" class="boxL" alt="no img">
					</a>
					<button class="btn btnR btn-default btn-success btn-lg" type="submit;"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
				</form>
				</div>

				{{/if}}
				{{/each}}

			</div>
		</container>
	</div>

</div>
