<div class="container">	
	<div class="jumbotron"> 
		<h1>CODER'S COLLECTIVE </h1>
		<h4 style="text-align: left;">A site for us too all share those one-side, brightly-colored, cheat-sheeting, pieces of GOLD we call information. Just paste a link to the image, pdf, doc or file of anytype into the form below and click ADD.</h4>
	</div>

	<div>
		<p class="lead"> What link are you providing today? </p>

		<form class="create-update-form" action="burgers/create" method="POST">

			<div class="form-group">
				<textarea class="form-control input-lg" type="text" name="b_name" rows="3"> </textarea>
			

			<button class="btnT btn-default btn-success btn-lg" type="submit;"><i class="fa fa-arrow-down" aria-hidden="true"></i></button></div>
		</form>
	</div>

<br>

<div class="row">
	<div class="col-md-4 col-md-offset-0">
			<container id="col1">

			<div class="wrapper wrapper_gradient eaten">
				
				{{#each burgers}}
				{{#if this.devoured}}

				<div class="box">
				<form action="burgers/update/{{this.id}}?_method=PUT" method="POST" >
					<input type="hidden" name="devoured" value="false">
					<a href="{{this.burger_name}}" target="_blank">
						<img src="{{this.burger_name}}" class="boxL" alt="ALT REPLACE">
					</a>
					<button class="btnL btn-default btn-success btn-lg" type="submit;"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
				</form>  
				</div>

				{{/if}}
				{{/each}}

			</div>
		</container>
	</div>

	<div class="wrapper col-md-8 col-md-offset-0">
		<container id="col1">

			<div class="wrapper wrapper_gradient eaten">
				
				{{#each burgers}}
				{{#if this.devoured}}

				<div class="box">
				<form action="burgers/update/{{this.id}}?_method=PUT" method="POST" >
				
					
					
					
					<input type="hidden" name="devoured" value="true">
					<button class="btnR btn-default btn-success btn-lg" type="submit;"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
					<a href="{{this.burger_name}}" target="_blank">
						<img src="{{this.burger_name}}" class="boxR" alt="ALT REPLACE">
					</a>
				</form>  
				</div>

				{{/if}}
				{{/each}}

			</div>
		</container>
            

	

		
	</div>

</div>

{{!-- <div class="container">	
	<div class="jumbotron"> 
		<h1>CODER'S COLLECTIVE </h1>
		<h4 style="text-align: left;">A site for us too all share those one-side, brightly-colored, cheat-sheeting, pieces of GOLD we call information. Just paste a link to the image, pdf, doc or file of anytype into the form below and click ADD.</h4>
	</div>

	<div>
		<p class="lead"> What link are you providing today? </p>

		<form class="create-update-form" action="burgers/create" method="POST">

			<div class="form-group">
				<textarea class="form-control input-lg" type="text" name="b_name" rows="3"> </textarea>
			</div>

			<button class="btn btn-default btn-success btn-lg" type="submit;"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
		</form>
	</div>

<br>

	<div class="row">
		<div class="col-md-6 col-md-offset-0">
			<div class="panel-panel default">

				<ol>
				{{#each burgers}}
					{{#unless this.devoured}}
					<li class="list-group-item rtc">
						<p class="lead">
							<form action="burgers/update/{{this.id}}?_method=PUT" method="POST" >
								<a href="{{this.burger_name}}" target="_blank"><img src="{{this.burger_name}}" alt="LOG ALT" width="200px" height="200px" border-radius="15px">
								</a>
								<input type="hidden" name="devoured" value="true">
								<button class="LR right btn btn-default btn-success btn-md" type="submit">
									<i class="fa fa-hando-right" aria-hidden="true"></i>
								</button>
								</form>
						</p>
					</li>
					{{/unless}}
				{{/each}}
			</ol>

		</div>
	</div>

	<div class="col-md-6 col-md-offset-0">
		<div class="panel panel-default">

			<ol class="list-group">
			{{#each burgers}}
			{{#if this.devoured}}
			<li class="list-group-item eaten">
				<p class="lead">
					<form action="burgers/update/{{this.id}}?_method=PUT" method="POST" >
						<input type="hidden" name="devoured" value="false">
						<button class="LR right btn btn-default btn-success btn-md" type="submit"><i class="fa fa-hando-left" aria-hidden="true"></i></button>
						<a href="{{this.burger_name}}" target="_blank"><img src="{{this.burger_name}}" alt="ALT REPLACE" width="200px" height="200px" border-radius="15px"></a>
						
					</form>
				</p>
			</li>
			{{/if}}
			{{/each}}
			</ol>

		</div>
	</div>

</div>
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About 
--}}
